name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/goreleaser/goreleaser-cross:latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Install X11 development libraries for clipboard support
        run: |
          dpkg --add-architecture i386
          dpkg --add-architecture arm64
          apt-get update
          apt-get install -y libx11-dev libx11-dev:i386 libx11-dev:arm64

      - name: Fix git safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Release
        run: goreleaser release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}

